html { 
    margin-bottom: auto;
    padding-bottom: auto;
}

body {
    height: 100%;
    margin: auto 0;

    background: -webkit-linear-gradient(top, #FAD961 0,  #F76B1D 100%);
    background: -moz-linear-gradient(top, #FAD961 0,  #F76B1D 100%);
    background: -o-linear-gradient(top, #FAD961 0,  #F76B1D 100%);
    background: -ms-linear-gradient(top, #FAD961 0,  #F76B1D 100%);
    background: linear-gradient(top, #FAD961 0, #F76B1D 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
        
    font-family: Lato, Arial, sans-serif;
}

#wrapper {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.panel {
    background-color: rgba(255, 255, 255, 0.8);
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;

    padding: 15px;
    text-align: left;
}


